PORT=4000

DATABASE_URL= URL_DE_BD_POSTGRESQL_NEONDB
DB_SSL=true

# OPENWEATHER api climatica
OPENWEATHER_API_KEY=API_DE_CLIMA
# WAHA para whatsapp web
WAHA_BASE_URL=http://localhost:3000
WAHA_API_KEY=TU_SUPER_API_KEY
WAHA_SESSION=default
